{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:react/all",
    "standard",
    "standard-react"
  ],
  "plugins": ["react", "react-hooks", "whatwg-fetch", "jest"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
  },
  "env": {
    "es6": true,
    "jest/globals": true
  },
  "globals": {"fetch": false},
  "rules": {
    "no-global-assign": [2, {}],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/forbid-component-props": [2, { "forbid": ["style"] }],
    "react/jsx-max-props-per-line": [2, { "maximum": 4, "when": "always" }],
    "react/jsx-one-expression-per-line": [0],
    "react/prefer-stateless-function": [0],
    "react/require-optimization": [0],
    "react/forbid-prop-types": [0],
    "react/no-set-state": [0],
    "react/jsx-sort-props": [0],
    "react/no-multi-comp": [0],
    "react/jsx-no-literals": [0],
    "react/prop-types": [2, {"skipUndeclared": false}],
    "react/prefer-es6-class": [2, "always"]
  },
}
